# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
logs/

# DeepFace / TensorFlow model files
*.h5
*.weights
*.bin
